<ion-view view-title="My Cart">

  <ion-nav-buttons side="right">
      <a href="#/app/products" class="button  button-icon ion-android-home"></a>
  </ion-nav-buttons>
  <ion-content>


    <div ng-show="showcartempty" class="item item-image" style="height:300px;margin-left:30px;margin-right:30px;margin-top:100px;">
     <img class="full-image"src="./img/empty-cart.jpg">
   </div>

   <div class="row" ng-show="!showcartempty" style="background-color:#0cf98b;" >
   <div class="col" style="color:#050096;">
   Sub Total:
   </div>
   <div class="col" style="color:#d80015">
    {{total | currency:"&#8377;"}}
   </div>
   <div class="col">
    <button ng-click='checkoutuser(total)' class="button button-small button-positive icon ion-log-out" style="width:100px"> Check Out</button>
   </div>

   </div>


        <ion-list >

         <ion-item ng-repeat="product in cartproducts" class="item-thumbnail-left" >
          <img ng-src="/img/product.jpg">
          <h3 class="item item-divider">{{product.product_name}}<h3> <br><br><br>
          <p class="button button-clear button-small button-assertive"  style="position:relative;bottom:50px" >{{product.price | currency:"&#8377;"}}</p>
          <button ng-click='altercart(add,product.product_id,product.quantity)' class="button button-small button-positive icon ion-plus-circled" style="position:absolute;right:175px"></button>
          <button class="button button-small button-positive icon ion-bag" style="position:absolute;right:130px;width:50px"> {{product.quantity}}</button>
          <button ng-click='altercart(remove,product.product_id,product.quantity)' class="button button-small button-positive icon ion-minus-circled" style="position:absolute;right:105px"></button>
          <button ng-click='altercart(delete,product.product_id,product.quantity)' class="button button-small button-assertive icon ion-android-trash" style="position:absolute;right:5px"></button>
         </ion-item>

       </ion-list>




<!--
<div class="list" ng-repeat="product in cartproducts">
        <div class="row item">
            <div class="col col-30 item item-avatar">
                  <img src="img/image12.jpg" />
            </div>
            <div class="col col-60 item-text-wrap">
              <h3 class="button button-clear button-small button-assertive">{{product.product_name}}<h3> <br>
               <p class="button button-clear button-small button-assertive">{{product.price | currency:"&#8377;"}}</p>
              <span class="button button-clear button-small button-assertive">{{product.quantity}}</span>
            </div>
            <div class="col col-10">
                <img src="img/image12.jpg" />
            </div>
        </div>
    </div>
-->
</ion-content>

</ion-view>
