<ion-view view-title="Sign-up">
  <ion-content>
                <div class="card" >

                <div class="item item-divider" style="background-color:#4256f4;padding:17px">
                <h3 style="color:white" ><b>Login</b></h3>
                </div>

                <form  class="form-horizontal" role="form">

                        <ion-item>
                         <div class="item-icon-left">
                             <i class="icon ion-person"></i>
                             <input id="username" type="text" name="username" placeholder="Enter your username ">
                         </div>
                        </ion-item>

                        <ion-item>
                        <div class="item-icon-left">
                             <i class="icon ion-locked"></i>
                             <input id="password" type="password" name="password" placeholder="Enter your password ">
                        </div>
                        </ion-item>


                        <ion-item>
                        <div class="text-center" >
                            <input  class="button button-block  button-calm" style="background-color:#0087e8"  type="submit" value="Login">
                        </div>
                        </ion-item>

                 </form>

               </div>

  </ion-content>
</ion-view>
