<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">


      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-show="show" menu-toggle="left">
        </button>
      </ion-nav-buttons>
<!--
       <ion-nav-buttons side="right">
			 <button class="button button-icon"  ui-sref="app.signup">
        <i class="ion-home"></i> Home
			 </button>
		   </ion-nav-buttons>
-->
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-nav-view name="sideContent"></ion-nav-view>

  </ion-side-menu>

</ion-side-menus>
