<ion-view view-title="Products">
{{abc}}
  <ion-nav-buttons side="right">
      <button class="button button-large button-icon" back> <i class="ion-arrow-left-c"></i></button>
      <a href="#/app/products" class="button  button-icon ion-android-home"></a>
      <ion-icon><a  href="#/page2" class="button  button-icon ion-android-cart"></a>1</ion-icon>

  </ion-nav-buttons>

  <ion-list ng-show="show" >
    <ion-item ng-repeat="product in products| limitTo:numberOfItemsToDisplay" class="item-thumbnail-left" >
          <img ng-src="{{item.img}}">
          <h2>{{product.product_name}}
          <p>{{product.product_description}}</p>
          <span style="font-size:75%">{{product.price | currency:"&#8377;"}}</span>
    </ion-item>
  </ion-list>
</ion-view>
