<ion-view view-title="Check Out">
  <ion-content>

   <!-- ********************************************************* -->
    <div class="list card">

              <div class="item item-divider" style="background-color:#2E8B57;">
              <h2 style="color:white;">Summary</h2>
              </div>

              <div class="list">
                    <div class="row">
                          <!-- col1  -->
                          <div class="col">
                              <label class="item item-input item-stacked-label">
                              <span class="input-label" style="color:#050096;">Sub-total</span>
                              <input type="text" value="abc" style="background-color:white;" disabled>
                              </label>
                              <label class="item item-input item-stacked-label">
                              <span class="input-label" style="color:#050096;">Shipping-Charge</span>
                              <input type="text" value="John" style="background-color:white;" disabled>
                             </label>
                          </div>
                          <!-- col2  -->
                          <div class="col item item-divider" style="background-color:#fff791;margin-left:10px;margin-right:2px;margin-top:30px;">
                              <label class="item  item-input item-stacked-label">
                              <span class="input-label"  style="color:#050096;">Grand total</span>
                              <input type="text" value="123456" style="background-color:#fff791;" disabled>
                              </label>
                          </div>
                           <!-- row ends  -->
                    </div>
              </div>

               <!-- bottom contibue buttons  -->
              <div class="row">
                          <div class='col'>
                              <a class="item item-icon-left assertive" href="#">
                              <i class="icon ion-edit"></i>
                              Edit Cart
                              </a>
                          </div>

                          <div class='col'>
                              <a class="item item-icon-left assertive" href="#">
                              <i class="icon ion-chevron-right"></i>
                              Continue
                              </a>
                        </div>
              </div>

    </div>
   <!-- ********************************************************* -->

    <div class="list card">
    <div class="item item-divider" style="background-color:#2E8B57;">
    <h2 style="color:white;">Shipping Information</h2>
    </div>
    <form  class="form-horizontal" name="Form.Checkout" role="form" ng-submit='OnSubmission()' novalidate>
        <div class="list">

                 <label class="item item-input  ">
                     <span class="input-label" style="font-size:15px;color:#050096;">First Name</span>
                       <div>
                         <input type="text" placeholder="First Name" name="fname" ng-model="checkout.fname" ng-pattern="/^[a-zA-Z]{3,15}$/" required>
                         <h5 style="color:red"  ng-show=" Form.Checkout.fname.$error.required && ! Form.Checkout.fname.$pristine">* Required Field </h5>
                         <h5 style="color:red" ng-show="! Form.Checkout.fname.$error.required &&  Form.Checkout.fname.$error.pattern && ! Form.Checkout.fname.$pristine">** Invalid Format</h5>
                      </div>
                 </label>

                 <label class="item item-input  ">
                    <span class="input-label" style="font-size:15px;color:#050096;">Last Name</span>
                       <div>
                         <input type="text" placeholder="Last Name" name="lname" ng-model="checkout.lname" ng-pattern="/^[a-zA-Z]{3,15}$/" required>
                         <h5 style="color:red"  ng-show=" Form.Checkout.lname.$error.required && ! Form.Checkout.lname.$pristine">* Required Field </h5>
                         <h5 style="color:red" ng-show="! Form.Checkout.lname.$error.required &&  Form.Checkout.lname.$error.pattern && ! Form.Checkout.lname.$pristine">** Invalid Format</h5>
                      </div>
                 </label>

                 <label class="item item-input  ">
                    <span class="input-label" style="font-size:15px;color:#050096;">Address</span>
                      <div>
                         <textarea  placeholder="Address" name="address" ng-model="checkout.address" ng-pattern="/^([a-zA-Z0-9\s,'-]){5,}$/" required></textarea>
                            <h5 style="color:red" ng-show="! Form.Checkout.address.$error.required &&  Form.Checkout.address.$error.pattern && ! Form.Checkout.address.$pristine">** Invalid Format</h5>
                         <h5 style="color:red"  ng-show=" Form.Checkout.address.$error.required && ! Form.Checkout.address.$pristine">* Required Field </h5>
                      </div>
                 </label>

                 <label class="item item-input  ">
                     <span class="input-label" style="font-size:15px;color:#050096;">City</span>
                       <div>
                         <input type="text" placeholder="City" name="city" ng-model="checkout.city" ng-pattern=" /^([A-Za-z]+){2,}[ ]?[A-Za-z]+$/" required>
                         <h5 style="color:red" ng-show="! Form.Checkout.city.$error.required &&  Form.Checkout.city.$error.pattern && ! Form.Checkout.city.$pristine">** Invalid Format</h5>
                         <h5 style="color:red"  ng-show=" Form.Checkout.city.$error.required && ! Form.Checkout.city.$pristine">* Required Field </h5>
                       </div>
                </label>

                 <label class="item item-input  ">
                     <span class="input-label" style="font-size:15px;color:#050096;">State</span>
                       <div>
                          <input type="text" placeholder="State" name="state" ng-model="checkout.state" ng-pattern=" /^([A-Za-z]+){2,}[ ]?[A-Za-z]+$/" required>
                          <h5 style="color:red" ng-show="! Form.Checkout.state.$error.required &&  Form.Checkout.state.$error.pattern && ! Form.Checkout.state.$pristine">** Invalid Format</h5>
                          <h5 style="color:red"  ng-show=" Form.Checkout.state.$error.required && ! Form.Checkout.state.$pristine">* Required Field </h5>
                      </div>
                 </label>

                 <label class="item item-input  ">
                    <span class="input-label" style="font-size:15px;color:#050096;">Zip code</span>
                     <div>
                        <input type="text" placeholder="Zip Code" name="zip" ng-model="checkout.zip" required maxlength="6" ng-pattern="/^[0-9]{6}$/">
                        <h5 style="color:red"  ng-show=" Form.Checkout.zip.$error.required && ! Form.Checkout.zip.$pristine">* Required Field </h5>
                        <h5 style="color:red" ng-show="! Form.Checkout.zip.$error.required &&  Form.Checkout.zip.$error.pattern && ! Form.Checkout.zip.$pristine">** Invalid Format</h5>
                     </div>
                 </label>

        </div>
                <div class="text-center" >
                    <input  class="button button-block  button-calm" style="background-color:#4157fc" ng-disabled=" Form.Checkout.$invalid" type="submit" value="Ship Order">
                </div>
    </form>
    </div>

   <!-- ********************************************************* -->


       <div class="list card">
       <div class="item item-divider" style="background-color:#2E8B57;">
       <h2 style="color:white;">Your Shipping Information</h2>
       </div>

           <div class="list">

                    <label class="item item-input  ">
                        <span class="input-label" style="font-size:15px;color:#050096;">First Name</span>
                          <div>
                            <input type="text" placeholder="First Name" style="background-color:white;" name="fname" ng-model="checkout.fname" disabled>
                         </div>
                    </label>

                    <label class="item item-input  ">
                       <span class="input-label" style="font-size:15px;color:#050096;">Last Name</span>
                          <div>
                            <input type="text" placeholder="Last Name"  style="background-color:white;" name="lname" ng-model="checkout.lname" disabled>
                         </div>
                    </label>

                    <label class="item item-input  ">
                        <span class="input-label" style="font-size:15px;color:#050096;">Address</span>
                          <div>
                              <pre style="font-family:verdana;">{{checkout.address}}</pre>
                              <label>{{checkout.state}}</label>  <br>
                              <label>{{checkout.city}}</label>  <br>
                              <label>{{checkout.zip}}</label>  <br>
                          </div>
                   </label>
           </div>

           <div class="row">

                       <div class='col'>
                         <a class="item item-icon-left assertive" href="#">
                         <i class="icon ion-edit"></i>
                         Edit info
                         </a>
                     </div>
                     <div class="col text-center">
                     <button  class="button button-small button-positive icon ion-paper-airplane" > Place Order</button>
                     </div>
           </div>



       </div>


   <!------------------------------------------------------------------------------>


  </ion-content>
</ion-view>
