<html>
<head>
<title>Shopping portal</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<!-- ***********************************************************************************************   -->
<script src="http://code.angularjs.org/1.2.6/angular.js"></script>
<script>

var app=angular.module('Myapp',[]);
app.controller('Password-controller',['$scope','$http','$location',function($scope,$http,$location){
$scope.pwd={password1:"",password2:"",token:"",show:false};
//password mismatch checker
$scope.CheckPassword=function(){
if( !$scope.PwdForm.password1.$error.required && !$scope.PwdForm.password2.$error.required && ($scope.pwd.password1 != $scope.pwd.password2))
{
  $scope.pwd.show=true;
  $scope.PwdForm.$invalid=true;
}
else
{
$scope.pwd.show=false;
$scope.PwdForm.$invalid=false;
}

if(!$scope.pwd.password1)
{
$scope.pwd.password2="";
$scope.pwd.show=false;
$scope.PwdForm.password2.$setPristine();
}

if( $scope.PwdForm.password1.$error.required ||  $scope.PwdForm.password2.$error.required)
$scope.PwdForm.$invalid=true;
};
/**************************************************/
//on submit function

//extract token from url
var n = $location.$$absUrl.indexOf("signup");
var token=$location.$$absUrl.substring(n+7);
$scope.pwd.token=token;

$scope.onsubmitted=function()
{

$http({
  method: 'POST',
  url: 'http://localhost:3000/signup/setpassword',
  data: $scope.pwd
}).then(function success(response) {
      console.log(response.data);


  }, function error(response) {

      console.log("failure");
  });
//
};


/**************************************************/
}]);

</script>
<!-- ***********************************************************************************************   -->
</head>
<body ng-app="Myapp">
<div class="form-gap"></div>
<div class="container" >
 <div class="row">
   <div class="col-md-4 col-md-offset-4">
           <div class="panel panel-default">
             <div class="panel-body" ng-controller='Password-controller'>
               <div class="text-center">
                 <button type="button" class="btn btn-lg btn-success btn-block">Online Shopping portal</button>
                 <h3><i class="fa fa-lock fa-4x"></i></h3>
                 <h2 class="text-center">Password Set up</h2><br><br>
                 <div class="panel-body">

                   <form id="register-form" name="PwdForm" class="form" ng-submit='onsubmitted()' novalidate>


                     <div class="form-group">
                         <div class="input-group">
                           <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                           <input class="form-control" name="password1" ng-blur="CheckPassword()" ng-model="pwd.password1"  type="password"  placeholder="Enter password"  ng-pattern="/^(?=.*[A-Z])(?=.*[0-9])(?=.*[@!*^#])(?=.*[a-z])\S{8,}$/"
                           required maxlength="20" />
                         </div>
                          <h5 style="color:red;" ng-show="PwdForm.password1.$error.required
                           && !PwdForm.password1.$pristine">**Please enter a password</h5>
                           <h6 style="color:red;" ng-show="PwdForm.password1.$error.pattern">
                             **Password must contain at least 8 characters with one number,upper & lower case character,and a unique character such as @!*^# </h6>
                     </div>

                       <br>

                       <div class="form-group">
                           <div class="input-group">
                             <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                             <input name="password2" ng-blur="CheckPassword()" ng-disabled="PwdForm.password1.$invalid" ng-model="pwd.password2" placeholder="Re-enter password" class="form-control"
                              ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" type="password"  maxlength="20" required>
                           </div>
                             <h5 style="color:red;" ng-show="PwdForm.password2.$error.required
                             && !PwdForm.password2.$pristine">**Re-enter your password</h5>
                             <h5 style="color:red;" ng-show="pwd.show||false">Password Mismatch</h5>
                       </div>

                     </div>
                     <br>
                     <div class="form-group">
                       <input class="btn btn-primary btn-md" value="Submit Password" type="submit" ng-disabled="PwdForm.$invalid">
                     </div>

                   </form>

                 </div>
               </div>
             </div>
           </div>
         </div>
 </div>

</body>
</html>
